@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f2f4;
  position: relative;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
}

.logo img {
  height: 65px;
  width: 130px;
}

.search {
  display: flex;
}

.search input {
  padding: 10px 200px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: #f0f5ff;
}

.search i {
  background-color: #f0f5ff;
  font-size: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px;
}

.search i:hover {
  cursor: pointer;
}

.search input:focus {
  outline: none;
}

.options {
  display: flex;
  align-items: center;
  gap: 30px;
}

.options i {
  font-size: 25px;
}

.options i:hover {
  cursor: pointer;
}

.options button:hover {
  background-color: #2a55e5;
  color: white;
}

.options button {
  border: none;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.options button:active {
  scale: 0.9;
}

.options button a {
  text-decoration: none;
  margin: 0 3px;
  color: black;
}

/* End of the navbar section and starting of the itembox section */

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itembox {
  margin-top: 10px;
  height: 125px;
  width: 98%;
  padding: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* End of the itembox section and starting of the hero section */

.hero {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 0 10px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  position: relative;
  display: flex;
  gap: 10px;
}

.hero-image .btn-left {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero-image .btn-right {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero-offer,
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-offer img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  object-fit: cover;
}

/* End of the hero section and starting of the about section */

.mobile-sec {
  background-color: #fff;
  margin: 10px 16px;
  height: 335px;
  width: 80%;
}

#mob-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

#mob-head i {
  background-color: #1c41d6;
  border: none;
  border-radius: 60%;
  padding: 6px 8px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.mob-var {
  position: relative;
  display: flex;
  height: 240px;
  align-items: center;
  justify-content: space-evenly;
}

.phones {
  border: 1px solid rgba(128, 128, 128, 0.697);
  height: 100%;
  width: 15%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phones img {
  object-fit: cover;
  width: 50%;
}

.mob-var button {
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
