*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    position: relative;
    background-image: url(background.webp); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
}

.content {
    height: 450px;
    width: 450px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 80px;
}